<?xml version="1.0" encoding="utf-8"?>
<mujoco xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="threading_scene">
        <!-- <geom pos="-1.2 0 1.5" quat="0.5 0.5 0.5 0.5"
              size="1.5 1.5 0.01" type="box" conaffinity="0" contype="0"
              group="1" name="wall_rear_visual" material="walls_mat"/> -->
        <body name="goal_marker" pos="0 0 0">
            <joint name="goal_marker_joint" type="free"/>
            <geom name="goal_marker_geom"
                  type="sphere"
                  size="0.03"
                  rgba="1 0 0 0.6"
                  contype="0"
                  conaffinity="0"/>
        </body>

        <body name="threading_table" pos="0.8 -0.25 0.7"> 
            <geom name="threading_table_top"
                  type="box"
                  size="0.26 0.6 0.02"
                  material="table_ceramic"
                  friction="1 0.005 0.0001"/>
        </body>

        <body name="obj" pos="0.65 -0.4 0.8" quat="0 0 0 1"> <!-- z-axis : 0 0 0 1 | y-axis : NONE | x-axis : 0 0 0 1-->
            <freejoint name="obj_joint"/>
            <geom name="obj_needle"
                  type="box"
                  pos="0 -0.08 0"
                  size="0.005 0.06 0.005"
                  rgba="0.33 0.19 0.1 1"
                  density="100"
                  friction="0.3 0.005 0.0001"
                  solref="0.02 1"
                  solimp="0.9 0.95 0.001"/>
            <geom name="obj_handle"
                  type="box"
                  pos="0 0 0"
                  size="0.02 0.02 0.02"
                  rgba="0.33 0.19 0.1 1"
                  density="100"
                  solref="0.02 1"
                  solimp="0.9 0.95 0.001"/>
        </body>

        <body name="tripod_obj" pos="0.80 -0.05 0.8" quat="0.7071068 0 0 0.7071068">
            <geom name="tripod_obj_ring_0" type="box" pos="0 -0.015 0.073" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_1" type="box" pos="0 -0.009 0.073" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_2" type="box" pos="0 -0.003 0.073" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_3" type="box" pos="0 0.003 0.073" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_4" type="box" pos="0 0.009 0.073" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_5" type="box" pos="0 0.015 0.073" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_6" type="box" pos="0 -0.015 0.079" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_7" type="box" pos="0 0.015 0.079" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_8" type="box" pos="0 -0.015 0.085" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_9" type="box" pos="0 0.015 0.085" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_10" type="box" pos="0 -0.015 0.091" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_11" type="box" pos="0 0.015 0.091" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_12" type="box" pos="0 -0.015 0.097" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_13" type="box" pos="0 0.015 0.097" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_14" type="box" pos="0 -0.015 0.103" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_15" type="box" pos="0 -0.009 0.103" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_16" type="box" pos="0 -0.003 0.103" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_17" type="box" pos="0 0.003 0.103" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_18" type="box" pos="0 0.009 0.103" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_ring_19" type="box" pos="0 0.015 0.103" size="0.0075 0.003 0.003" rgba="0.7 0.56 0.36 1" density="100" friction="0.3 0.005 0.0001" solref="0.02 1" solimp="0.9 0.95 0.001"/>

            <body name="tripod_obj_tripod_leg_body_0" pos="-0.0293934 -0.0293934 -0.0240192" quat="0.9659258 -0.1830127 0.1830127 0">
                <geom name="tripod_obj_tripod_0"
                      type="capsule"
                      pos="0 0 -0.03"
                      size="0.01 0.03"
                      rgba="0.7 0.56 0.36 1"
                      density="100"
                      solref="0.02 1"
                      solimp="0.9 0.95 0.001"/>
            </body>
            <body name="tripod_obj_tripod_leg_body_1" pos="-0.0293934 0.0293934 -0.0240192" quat="0.9659258 0.1830127 0.1830127 0">
                <geom name="tripod_obj_tripod_1"
                      type="capsule"
                      pos="0 0 -0.03"
                      size="0.01 0.03"
                      rgba="0.7 0.56 0.36 1"
                      density="100"
                      solref="0.02 1"
                      solimp="0.9 0.95 0.001"/>
            </body>
            <body name="tripod_obj_tripod_leg_body_2" pos="0.025 0 -0.0240192" quat="0.9659258 0 -0.258819 0">
                <geom name="tripod_obj_tripod_2"
                      type="capsule"
                      pos="0 0 -0.03"
                      size="0.01 0.03"
                      rgba="0.7 0.56 0.36 1"
                      density="100"
                      solref="0.02 1"
                      solimp="0.9 0.95 0.001"/>
            </body>

            <geom name="tripod_obj_post_0"
                  type="box"
                  pos="0.005 0.005 -0.015"
                  size="0.05 0.05 0.005"
                  rgba="0.7 0.56 0.36 1"
                  density="100"
                  solref="0.02 1"
                  solimp="0.9 0.95 0.001"/>
            <geom name="tripod_obj_post_1"
                  type="box"
                  pos="0 0 0.033"
                  size="0.005 0.005 0.043"
                  rgba="0.7 0.56 0.36 1"
                  density="100"
                  solref="0.02 1"
                  solimp="0.9 0.95 0.001"/>
        </body>
    </xacro:macro>

</mujoco>
